:root {
    // colors
    --text-color: #333;
    --placeholder-color: #999;
    --red: #dc3e22;
    --red-dark: #b7280f;
    --gray: #f4f4f4;
    --gray-dark: #c4c4c4;
    --green: #a8b64f;
    --green-dark: #899441;
}
